<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="filePath" value="C:\Users\Szymon\GitProjects\tournament_score_tracker\TextDataBase" />
		<add key="greaterWins" value="1" />
		<add key="senderEmail" value="TST@mail.com" />
		<add key="senderDisplayName" value="Tournament Operator" />
	</appSettings>
	<connectionStrings>
		<!--<add name="Tournaments" connectionString="Server=DESKTOP-L4E02Q0;Database=Tournaents;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>-->
		<add name="Tournaments" connectionString="Server=DESKTOP-L4E02Q0;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="127.0.0.1" port="25" enableSsl="false" />
			</smtp>
		</mailSettings>
	</system.net>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>